:root {
    --primary-bg: #1a1a1a;
    --secondary-bg: #2a2a2a;
    --border-color: #ffffff;
    --bg-color: #ffffff;
    --header-bg: #f5f5f5;
    --header-shadow: rgba(0, 0, 0, 0.3);
    --hover-color: #f09400;
    --switch-bg: rgb(247, 93, 93);
    --switch-color: #ffffff;
    --text-color: #000;
    --header-color: #333;
    --card-bg-color: #f5f5f5;
    --card-shadow: 0 4px 10px rgba(0,0,0, 0.3);
    --subtext-color: #666666;
    --info-subtext: #4e4e4e;
    --info-header:#333333;
    --button-bg: #ff5722;
    --button-text: #ffffff;
    --container-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);

}

.dark-mode {
    --bg-color: #111111;
    --header-bg: #1d1d1d;
    --header-shadow: rgba(212, 212, 212, 0.5);
    --hover-color: #f39c12;
    --switch-bg: #ffffff;
    --switch-color: #f39c12;
    --text-color: #ddd;
    --header-color: #ffffff;
    --card-bg-color: #2a2a2a;
    --card-shadow: 0 4px 10px rgb(207, 206, 206);
    --subtext-color: #adabab;
    --info-subtext: #adabab;
    --info-header:#ffffff;
    --button-bg: #ff5722;
    --button-text: #ffffff;
    --container-shadow: 0px 0px 5px 5px rgba(189, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--primary-bg);
    color: var(--text-color);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 10px var(--header-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logo h1 {
    font-size: 24px;
    color: var(--text-color);
    padding-left: 10px;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    transition: all 0.3s;
    margin-top: 12px;
}

.nav-menu ul li {
    margin: 0 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: var(--hover-color);
}

.toggle-switch {
    position: relative;
    margin-right: 15px;
}

#theme-switch {
    display: none;
}

#theme-switch + label {
    width: 50px;
    height: 26px;
    background: var(--switch-bg);
    display: block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}

#theme-switch + label:before {
    content: '';
    width: 22px;
    height: 22px;
    background: var(--switch-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

#theme-switch:checked + label:before {
    transform: translateX(24px);
    background-color: var(--switch-bg);
}

#theme-switch:checked + label {
    background: var(--switch-color);
}

.menu-toggle {
    display: none;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu ul {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        background-color: var(--header-bg);
        width: 100%;
        transition: left 0.3s ease-in-out;
        padding: 20px 0;
    }
    
    .nav-menu ul.active {
        left: 0;
    }
    
    .nav-menu ul li {
        margin: 15px 0;
        text-align: center;
    }
    
    .menu-toggle {
        display: block;
        margin-right: 20px;
    }
}


/*header*/

/*brand*/

.section {
    text-align: center;
    padding: 20px;

}

.section h1 {
    padding: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--header-color);
}

.image-placeholder {
    width: 100%;
    height: 300px; 
    background-image: url('img/single.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: orange; 
}



/* Responsive settings */
@media (min-width: 768px) {
    .section h1 {
        font-size: 28px; /* Larger text on wider screens */
    }

    .image-placeholder {
        height: 400px; /* Larger image on wider screens */
    }
}



/*part 1*/


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.info-section {
    display: flex;
    gap: 20px;
}

.details-card, .description-card {
    background-color: var(--card-bg-color);
    border-radius: 12px;
    padding: 30px;
    box-shadow: var(--card-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.details-card {
    flex: 1;
}

.description-card {
    flex: 2;
}

.info {
    margin-bottom: 20px;
    padding: 13px;
}

.info h3 {
    font-size: 14px;
    color: var(--header-color);
    margin: 0 0 5px 0;
}

.info p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: var(--info-subtext);
}

.description-card h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
    color: var(--header-color);
}

.description-card p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 15px 0;
    color: var(--subtext-color);
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
    }
}

/*part 1*/

/*part 2*/

        :root {
            --bg-color: #ffffff;
            --text-color: #000000;
        }

        .dark-mode {
            --bg-color: #1a1a1a;
            --text-color: #ffffff;
        }

        .container1 {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            color: var(--text-color);
            transition: background-color 0.3s, color 0.3s;
        }

        .image-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .image-item {
            position: relative;
            aspect-ratio: 1 / 1;
            overflow: hidden;
        }

        .image-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 768px) {
            .image-grid {
                grid-template-columns: 1fr;
            }
        }
 
/*part 2*/

/*kickstart section*/

.main-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: 100px auto;
    box-sizing: border-box;
    box-shadow: var(--container-shadow);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

}

.main-heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.main-subtext {
    font-size: 1.2rem;
    color: var(--subtext-color);
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
    transition: color 0.3s ease;
}

.main-button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.main-button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

/* Responsive Design for Medium Devices */
@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 2rem;
    }

    .main-subtext {
        font-size: 1rem;
        max-width: 90%; /* Reduce the width of the subtext for smaller screens */
    }

    .main-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

/* Responsive Design for Small Devices (Phones) */
@media screen and (max-width: 576px) {
    .main-container {
        padding: 40px 15px; /* Reduce padding on small devices for better fit */
        margin: 50px auto;  /* Less margin for small screens */
    }

    .main-heading {
        font-size: 1.8rem;
    }

    .main-subtext {
        font-size: 0.9rem;
        max-width: 100%;
    }

    .main-button {
        font-size: 0.9rem;
        padding: 10px 18px;
    }
}

/*kickstart section*/

/*footer*/

footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center both items horizontally */
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.brand {
    color: red;
    font-weight: bold;
}

.to-top {
    cursor: pointer;
    margin-top: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #fff; /* White circle background */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.circle:hover {
    background-color: #ddd; /* Slight hover effect for better UX */
}

.circle i  {
    font-size: 20px;
    color: #000;
}

/* Medium and Large Screens */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row; /* Place items in a row on larger screens */
        justify-content: space-between; /* Space the copyright and to-top button */
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .circle i  {
        font-size: 18px;
    }

    footer p {
        font-size: 16px;
    }
}

/* Extra Small Screens (Mobile) */
@media (max-width: 576px) {
    .circle {
        width: 40px;
        height: 40px;
    }

    .circle i  {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }

    .footer-content {
        padding: 0 10px;
    }
}

/* Ensuring proper padding and margin on smaller screens */
@media (max-width: 360px) {
    footer {
        padding: 15px;
    }

    .circle {
        width: 35px;
        height: 35px;
    }

    .arrow-up {
        font-size: 14px;
    }
}

/*footer*/