:root {
    --primary-bg: #1a1a1a;
    --secondary-bg: #2a2a2a;
    --text-color: #ffffff;
    --bg-color: #ffffff;
    --header-bg: #f5f5f5;
    --header-shadow: rgba(0, 0, 0, 0.3);
    --hover-color: #f09400;
    --switch-bg: rgb(247, 93, 93);
    --switch-color: #ffffff;
    --container-bg: #f5f5f5;
    --text-color: #333333;
    --border-color: #dddddd;
    --btn-bg: #333333;
    --btn-text: #ffffff;
    --btn-hover-bg: #ff9900;
    --btn-hover-text: #ffffff;
    --social-icon-bg: #cecece;
    --social-icon-color: #333333;
    --hexagon-bg: #ff9d00;
    --left-bg: #ddd;
    --header-color: #111;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --company-bg: #d3d3d3;
    --btn-border-color: #201f1f;
    --btn-bg-color:#fa6001;
    --subtext-color: #666666;
    --button-bg: #ff5722;
    --button-text: #ffffff;
    --container-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --bg-color: #111111;
    --header-bg: #1d1d1d;
    --header-shadow: rgba(212, 212, 212, 0.5);
    --hover-color: #f39c12;
    --switch-bg: #ffffff;
    --switch-color: #f39c12;
    --container-bg: #2a2a2a;
    --text-color: #ffffff;
    --border-color: #444444;
    --btn-bg: #ffffff;
    --btn-text: #1a1a1a;
    --btn-hover-bg: #ffb0b0;
    --btn-hover-text: #000000;
    --social-icon-bg: #3a3a3a;
    --social-icon-color: #ffffff;
    --hexagon-bg: #ffffff;
    --left-bg: #1a1a1a;
    --header-color: #ffffff;
    --box-shadow: rgba(229, 229, 229, 0.799);
    --company-bg: #5c5c5c;
    --btn-border-color: #ff7700;
    --btn-bg-color: #b7b5b5;
    --subtext-color: #b3b3b3;
    --button-bg: #ff5722;
    --button-text: #ffffff;
    --container-shadow: 0px 0px 5px 5px rgba(189, 0, 0, 0.5);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--primary-bg);
    color: var(--text-color);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 10px var(--header-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logo h1 {
    font-size: 24px;
    color: var(--text-color);
    padding-left: 10px;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    transition: all 0.3s;
    margin-top: 12px;
}

.nav-menu ul li {
    margin: 0 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: var(--hover-color);
}

.toggle-switch {
    position: relative;
    margin-right: 15px;
}

#theme-switch {
    display: none;
}

#theme-switch + label {
    width: 50px;
    height: 26px;
    background: var(--switch-bg);
    display: block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}

#theme-switch + label:before {
    content: '';
    width: 22px;
    height: 22px;
    background: var(--switch-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

#theme-switch:checked + label:before {
    transform: translateX(24px);
    background-color: var(--switch-bg);
}

#theme-switch:checked + label {
    background: var(--switch-color);
}

.menu-toggle {
    display: none;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu ul {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        background-color: var(--header-bg);
        width: 100%;
        transition: left 0.3s ease-in-out;
        padding: 20px 0;
    }
    
    .nav-menu ul.active {
        left: 0;
    }
    
    .nav-menu ul li {
        margin: 15px 0;
        text-align: center;
    }
    
    .menu-toggle {
        display: block;
        margin-right: 20px;
    }
}


/*header*/
/*hero section*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}

.hero-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: var(--container-bg);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.hero-left, .hero-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-left {
    background-color: var(--left-bg);
    transition: background-color 0.3s ease;
}

.hexagon {
    width: 200px;
    height: 230px;
    background-color: var(--hexagon-bg);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.profile-image {
    width: 180px;
    height: 210px;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h2, p, .ben, .bento-short {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.ben {
    margin: 10px 0;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
}

p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 200;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--social-icon-bg);
    border-radius: 5px;
    margin: 0 5px;
    color: var(--social-icon-color);
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    background-color: var(--btn-bg);
    color: var(--btn-text);
}

.hero-right {
    text-align: left;
    align-items: flex-start;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 900;
    color: var(--hover-color);
}

.bento-short {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 300;
}

.availability {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.availability::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text);
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-left, .hero-right {
        padding: 20px;
    }

    .hero-right {
        align-items: center;
        text-align: center;
    }
}

/*hero section*/
/*company logo*/

.companies {
    padding: 60px;
    text-align: center;
    box-sizing: border-box;
    background-color:  var( --company-bg);
}

.center-heading {
    margin-bottom: 40px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: var(--header-color);
    text-align: center;
}

.company-container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #3b3939;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px #cecece;
    overflow: hidden;
}

.logo-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.logo-slide {
    display: flex;
    animation: slide 30s linear infinite;
}

.company-logo {
    width: 80px;
    height: 80px;
    margin: 0 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.company-logo:hover {
    opacity: 1;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive Design */
/* Tablets */
@media (max-width: 1024px) {
    .center-heading {
        font-size: 26px;
    }

    .company-logo {
        width: 70px;
        height: 70px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .center-heading {
        font-size: 24px;
    }

    .company-logo {
        width: 60px;
        height: 60px;
        margin: 0 15px;
    }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
    .center-heading {
        font-size: 22px;
    }

    .company-logo {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
}
/*company logo*/

/*portfolio gallery*/

.portfolio {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    object-fit: cover;
}

.heading h1 {
    font-size: 2.5em;
    margin-bottom: 17px;
    color: var(--text-color);
}

.subtitle {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 30px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.filter-buttons .btn {
    margin: 0 5px;
}

.gallery-item {
    cursor: pointer;

}

.card {
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(153, 153, 153, 0.3);
    transition: transform 0.3s ease;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.card:hover {
    transform: translateY(-5px);
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arrow-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff6b6b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.diagonal-arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin-right: 10px;
    transform: rotate(45deg);
}

.item-details {
    padding: 20px;
    text-align: center;
}

.category {
    font-size: 0.9em;
    color: var(--text-color);
    display: block;
    margin-bottom: 5px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--text-color);
}

.gallery-item:hover .image-container img {
    transform: scale(1.1);
}

.gallery-item:hover .overlay {
    opacity: 1;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
    .gallery-item {
        width: 100%;
    }
}

/*portfolio gallery*/

/*kickstart section*/

.main-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: 100px auto;
    box-sizing: border-box;
    box-shadow: var(--container-shadow);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

}

.main-heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.main-subtext {
    font-size: 1.2rem;
    color: var(--subtext-color);
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
    transition: color 0.3s ease;
}

.main-button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.main-button:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

/* Responsive Design for Medium Devices */
@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 2rem;
    }

    .main-subtext {
        font-size: 1rem;
        max-width: 90%; /* Reduce the width of the subtext for smaller screens */
    }

    .main-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

/* Responsive Design for Small Devices (Phones) */
@media screen and (max-width: 576px) {
    .main-container {
        padding: 40px 15px; /* Reduce padding on small devices for better fit */
        margin: 50px auto;  /* Less margin for small screens */
    }

    .main-heading {
        font-size: 1.8rem;
    }

    .main-subtext {
        font-size: 0.9rem;
        max-width: 100%;
    }

    .main-button {
        font-size: 0.9rem;
        padding: 10px 18px;
    }
}

/*kickstart section*/

/*footer*/

footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center both items horizontally */
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.brand {
    color: red;
    font-weight: bold;
}

.to-top {
    cursor: pointer;
    margin-top: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #fff; /* White circle background */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.circle:hover {
    background-color: #ddd; /* Slight hover effect for better UX */
}

.circle i {
    font-size: 20px;
    color: #000;
}

/* Medium and Large Screens */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row; /* Place items in a row on larger screens */
        justify-content: space-between; /* Space the copyright and to-top button */
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .circle i  {
        font-size: 18px;
    }

    footer p {
        font-size: 16px;
    }
}

/* Extra Small Screens (Mobile) */
@media (max-width: 576px) {
    .circle {
        width: 40px;
        height: 40px;
    }

    .circle i  {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }

    .footer-content {
        padding: 0 10px;
    }
}

/* Ensuring proper padding and margin on smaller screens */
@media (max-width: 360px) {
    footer {
        padding: 15px;
    }

    .circle {
        width: 35px;
        height: 35px;
    }

    .circle i  {
        font-size: 14px;
    }
}

/*footer*/
